*{
    margin: 0;
    padding: 0;
}

.shop-container{
    display: flex;
}

.poster1 img{
    width: 240px;
    height: 300px;
    margin-bottom: 15px;
    padding: 4px 10px;
    cursor: pointer;
}

.poster3 img{
    width: 240px;
    height: 400px;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.shop-left{
    margin: 25px;
}

.shop-head h2{
    color: gray;
    margin-bottom: 30px;
}

.cato-head{
    margin: 10px;
    padding: 5px 10px;
    background: #cbe2f5;
    text-align: center;
}

.cato-list{
    margin: 10px;
    padding: 15px 25px;  
    border: 3px solid #cbe2f5;
    margin-top: -10px;  
    width: 220px;
    margin-bottom: 50px;
}

.cato-list ul li{
    list-style-type: none;
    cursor: pointer;
    margin-left: 5px;
    line-height: 35px;
    font-weight: 600;
    font-size: 13px;
}

.cato-list ul li:hover{
    color: rgba(0, 0, 0, 0.432);
}

.poster2 img{
    margin: 85px 40px 20px 20px;
    height: 295px;
    cursor: pointer;
}

.shop-title{
    display: flex;
    justify-self: center;
    width: 92%;
    background-color: #cbe2f5;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 19px;
    margin-left: -40px;
}

.shop-products{
    margin: 10px 20px;
}

